body {
  width: 100%;
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background: var(--mine-shaft-950) !important;
}
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
}

.spinner {
  width: 55px;
  height: 55px;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #dc3545;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

.loading-text {
  margin-top: 12px;
  font-weight: 500;
  color: white;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dropdown-menu[data-bs-popper] {
  top: 100%;
  left: 0;
  margin-top: var(--bs-dropdown-spacer);
  margin-top: 10px !important;
  margin-left: -20px !important;
}

/* modal */
/* #profileModal {
  margin-left: 30%;
  margin-top: -12%;
}
.profile-avtag img {
  border-radius: 50%;
  padding: 4px 25px;
  height: 50px;
  margin-left: -14px !important;
}
.modal-body button {
  border: none !important;
} */

/* View profile section */
.profile-img img {
  width: 40px !important;
}
.logout-btn {
  background: white;
  border: none;
  color: black;
  padding: 10px;
  font-size: 17px;
}

.profile-main {
  background: var(--mine-shaft-950);
  width: 100%;
  min-height: 100vh;
}
.profile-info {
  border: 1px double #999595;
  padding: 10px;
  width: 80%;
  margin: auto;
}
.profile-section {
  display: flex;
  gap: 20px;
}
.profile-info img {
  width: 50px;
  height: 50px;
}
.profile-content p {
  margin-bottom: 2px !important;
}
.application-table {
  width: 80%;
  margin: auto;
}
/* table container */
.custom-table {
  width: 100%;
  border-collapse: collapse;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  font-size: 14px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

/* table header */
.custom-table thead {
  background: #f5f7fa;
}

.custom-table thead th {
  padding: 14px;
  text-align: left;
  font-weight: 600;
  color: #333;
  border-bottom: 2px solid #eaeaea;
}

/* table body */
.custom-table tbody td {
  padding: 14px;
  border-bottom: 1px solid #f1f1f1;
  color: #555;
}

/* hover effect */
/* .custom-table tbody tr:hover {
  background: #f9fbff;
  transition: 0.2s;
} */

/* status badge */
.status {
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
  display: inline-block;
  text-align: center;
}

.accepted {
  background-color: #e6f4ea;
  color: #1e7e34;
}

.rejected {
  background-color: #fdecea;
  color: #c82333;
}

.pending {
  background-color: #fff4e5;
  color: #e0a800;
}
.resume-info span {
  color: white !important;
}

.homePage-main {
  width: 100%;
  min-height: 100vh;
  background: var(--mine-shaft-950);
}
.navbar-info {
  background: var(--mine-shaft-950);
}
.navbar-brand {
  fill: var(--bright-sun-400);
}
a.nav-link {
  color: var(--bright-sun-400);
  transition: 0.5s ease;
}
a.nav-link:hover {
  color: white;
}
.setting-btn {
  background: var(--mine-shaft-900);
  font-size: 22px;
  padding: 1px 7px;
}
.setting-btn span {
  font-size: 12px;
  font-weight: bold;
}

/* Deams jobs */
.content-left h5 {
  color: var(--bright-sun-400);
  font-weight: bold;
}
.content-left h1 {
  font-size: 60px;
}
.content-left span {
  color: var(--bright-sun-400);
}
.content-left p {
  line-height: 30px;
  color: var(--mine-shaft-300);
}
.search-box {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
}
.search-box-one {
  border-radius: 10px;
  background: #333;
  padding: 8px 20px;
  width: 33%;
}

.search-box .forminfo {
  background: #333;
  border: none;
  color: white;
  padding: 2px;
  outline: none;
  width: 168px;
  margin-left: -4px;
}

.search-btn {
  background: var(--bright-sun-400);
  border: none;
  border-radius: 10px;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease;
}
.search-btn:hover {
  background: var(--bright-sun-800);
}
.search-icons {
  font-size: 22px;
  color: white;
  font-weight: bold;
}
.content-card {
  top: 25%;
  border: 1px solid var(--bright-sun-400);
  left: 1%;
  padding: 6px 12px;
  border-radius: 13px;
}
.content-card img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  background: var(--mine-shaft-850);
}
.content-card h5 {
  font-size: 16px;
  color: var(--mine-shaft-300);
  font-weight: bold;
}
.content-card p {
  font-size: 14px;
  color: var(--mine-shaft-300);
  margin-top: -7px;
}

.avtar-content {
  border: 1px solid var(--bright-sun-400);
  top: 50%;
  left: 80%;
  padding: 12px;
  border-radius: 13px;
}
.avtar-content p {
  color: var(--mine-shaft-300);
  font-weight: bold;
}
.avtar-group {
  gap: -10px;
}
.avatar {
  width: 40px;
  object-fit: cover;
  height: 40px;
  margin-left: -15px; /* overlap */
  object-fit: cover;
  z-index: 1;
}
.avatar:first-child {
  margin-left: 0;
}
.avtar-group span {
  background: #333;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -10px;
  z-index: 0;
}

/* LatestJobs start */
.job-card p {
  margin-top: -8px !important;
  font-size: 14px;
}
.main-card-content {
  margin-top: -12px;
}

/* Company list */

.company-info {
  width: 100%;
}
.company-info span {
  color: var(--bright-sun-400);
}
.marquee-info {
  margin-top: 35px;
}
.marquee-info img {
  width: 100px;
  height: 100px;
  transition: 0.5s ease;
}
.marquee-info img:hover {
  background: var(--mine-shaft-800);
  border-radius: 12px;
  padding: 8px;
}

/* job-category */

/* Swiper */
.swiper-button-prev,
.swiper-button-next {
  display: none !important;
}

.job-category {
  width: 100%;
}
.job-category span {
  color: var(--bright-sun-400);
}
.job-category p {
  color: var(--mine-shaft-300);
  line-height: 30px;
  margin-top: 10px;
}
.job-category .card {
  border: 1px solid var(--bright-sun-300) !important;
  padding: 10px;
  background: var(--mine-shaft-900) !important;
  padding-bottom: 5px;
  transition: 0.5s ease;
  border-radius: 12px;
}
.job-category .card:hover {
  border: 2px solid var(--bright-sun-300) !important;
  box-shadow: 0px 0px 10px var(--bright-sun-300) !important;
  border-radius: 12px;
}
.job-category .card-body h5 {
  color: white;
  font-weight: bold;
  font-size: 22px;
}
small.text-muted {
  color: var(--bright-sun-300) !important;
}
.card img {
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 50%;
  margin-left: 41%;
  background: var(--bright-sun-300);
}

/* Work section */
.work-info {
  width: 100%;
}
.work-info p {
  color: var(--mine-shaft-300);
}
.work-content-info {
  border: 1px solid var(--bright-sun-300);
  padding: 5px;
  border-radius: 12px;
  top: 18%;
  left: 68%;
}
.work-content-info img {
  width: 70px;
  height: 70px;
  background: var(--mine-shaft-950);
  border-radius: 50%;
  padding: 2px;
}
.work-content-info h4 {
  font-size: 17px;
  color: white;
  font-weight: bold;
  margin-top: 6px;
}
.work-content-info p {
  font-size: 14px;
}
.work-content-right {
  margin-left: 20%;
}
.work-content-icons {
  background: var(--bright-sun-400);
  padding: 6px 14px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  font-size: 30px;
}
.work-contents h2 {
  font-size: 20px;
  color: white;
  font-weight: bold;
}
.work-contents p {
  font-size: 15px;
}

/* Testimonials section */
.testimonials-main {
  width: 100%;
}
.testimonials {
  border: 1px solid var(--bright-sun-400);
  padding: 12px;
  border-radius: 12px;
  transition: 0.5s ease;
  margin-top: 50px;
}
.testimonials:hover {
  transform: scale(0.9);
  border: 1px solid var(--bright-sun-400);
  box-shadow: 0px 0px 15px var(--bright-sun-400);
}
.testimonials-main p {
  color: var(--mine-shaft-300);
  font-size: 16px;
}
.testimonial-avtar img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.rating-info {
  color: var(--bright-sun-400);
  font-weight: bold;
}
.testimonal-info h2 {
  font-size: 18px;
  font-weight: bold;
  color: white;
}
.testimonial-text p {
  font-size: 15px;
  line-height: 28px;
  margin-top: 8px;
  margin-left: 8px;
}

/* Subscriber */
.subscriber-main {
  width: 100%;
}
.subscriber-bg {
  background: var(--mine-shaft-900);
  padding: 0px 15px;
  border-radius: 15px;
}
.subscriber-info span {
  color: var(--bright-sun-400);
}
.input-group {
  width: 50%;
  background: var(--mine-shaft-850);
}
.input-group input {
  border-radius: 20px;
  padding: 10px;
  border: none !important;
}
.input-group button {
  background: var(--bright-sun-400);
  border-radius: 20px;
  padding: 10px;
  color: white;
  border: none !important;
  font-weight: bold;
  transition: 0.5s ease;
}
.input-group button:hover {
  background: navy;
}

/* Footer */
.footer-main p {
  font-size: 15px;
  color: var(--mine-shaft-300);
}
.social-media a {
  background: var(--mine-shaft-900);
  padding: 5px 10px;
  font-size: 20px;
  font-weight: bold;
  color: var(--bright-sun-400);
  border-radius: 50%;
  transition: 0.5s ease;
}
.social-media a:hover {
  background: navy;
}
.footer-info h5 {
  font-size: 20px;
  font-weight: bold;
  color: var(--bright-sun-400);
  text-align: center;
}
a.nav-link {
  color: var(--mine-shaft-300) !important;
  transition: 0.5s ease-in-out;
}
a.nav-link:hover {
  color: navy !important;
  transform: scale(0.9);
  opacity: 0.9;
}

/* Footer last */
.footer-last p {
  color: white !important;
  margin-top: 8px;
}
.footer-last span {
  color: var(--bright-sun-400);
}

/* Pages Routes finds a jobs */
/* Pills (selected tags) */
.input-info {
  width: 100%;
  background: var(--mine-shaft-950) !important;
}
.input-info .form-control {
  width: 100%;
  border: none !important;
}
.input-form {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background: var(--mine-shaft-950);
}
.list-group ul li {
  background: var(--mine-shaft-950) !important;
  width: 100%;
}

/* .form-control input {
  background: var(--mine-shaft-900);
  width: 100%;
} */

/* LOGIN FORM */
.loginInfo {
  height: 100vh;
  background: #fffefe;
}

.containerInfo {
  width: 40%;
  margin: auto;
}
.login-btn .btn {
  background: rgb(2, 2, 78);
}
.main-select {
  width: 100%;
}
.radio-btn {
  width: 50%;
}
.main-left {
  width: 50%;
}

/* END */

/* JobsInfo */

/* Global body background */
body {
  background-color: #2d2d2d;
  font-family: "Poppins", sans-serif;
  color: #f5f5f5;
}

/* Jobs Section */
.jobs-container {
  width: 100%;
  background: var(--mine-shaft-950);
  min-height: auto;
  padding: 50px 0px;
}
.job-card-info {
  margin-bottom: 20px;
}

/* Card Styling */
.job-card-info .card {
  background: #454545;

  border: 1px solid #6a6363;
  border-radius: 12px;
  transition: 0.3s ease;
  overflow: hidden;
}

/* Hover Effect */
.job-card-info .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
}

/* Top Section */
.card-body {
  font-size: 14px;
  color: #aaa;
  border-bottom: 1px solid #333;
}

/* Bookmark Icon */
.card-body svg {
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
}

.card-body svg:hover {
  color: #0d6efd;
}

/* Company Logo */
.card-img {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.card img {
  width: 45px !important;
  height: 45px !important;
  padding: 10px !important;
  border-radius: 50% !important;
  margin-left: 12%;
  background: var(--bright-sun-300) !important;
}

/* Company Name + Location */
.card-img-content h5 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

.card-img-content p {
  margin: 0;
  font-size: 14px;
  color: #aaa;
}

/* Main Content */
.main-card-content {
  padding: 0 15px 15px;
}

.main-card-content h4 {
  margin: 10px 0;
  font-size: 18px;
}

.main-card-content p {
  font-size: 14px;
  color: #bbb;
  line-height: 1.5;
}

/* Badges */
.badge-info {
  margin: 15px 0;
}

.badge {
  font-size: 12px;
  padding: 6px 10px;
  border-radius: 20px;
}

/* Buttons */
.jobs-btn {
  margin-top: 10px;
}

.jobs-btn button {
  border-radius: 25px;
  transition: 0.3s;
}

/* Details Button */
.details-btn button:hover {
  background-color: #198754;
  color: #fff;
}

/* Save Later Button */
.later-btn button:hover {
  background-color: #0d6efd;
  color: #fff;
}

/* filter jobs */
.filter-jobs {
  background: #242424;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.filter-jobs:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.8);
}
.filter-jobs h2 {
  color: #00c896 !important;
  border-bottom: 1px solid #333 !important;
  padding-bottom: 10px !important;
}
.filter-jobs h6 {
  color: #f5f5f5 !important;
  font-weight: bold !important;
  font-size: 18px;
}
.filter-jobs .form-check-input {
  accent-color: #00c896 !important;
}
.filter-jobs .form-check-label {
  color: #ccc !important;
  font-size: 14px;
}

/* Browser Routes */
.browser-jobs {
  width: 100%;
  min-height: auto;
  background: var(--mine-shaft-950);
}

/* company home pages admin css start */
.company-search {
  margin-top: 40px;
}
.company-search input {
  width: 100%;
  border: 1px solid #5a5858;
  background: #3a3a3a;
  color: #fff;
  height: 45px;
  padding: 0px 15px;
  border-radius: 8px;
  outline: none;
  font-size: 15px;
  transition: all 0.5s ease;
}
.company-search input::placeholder {
  color: #aaa;
}

.company-search input:focus {
  border-color: #0d6efd;
  box-shadow: 0 0 0 2px rgba(13, 110, 253, 0.25);
}
.company-search button {
  padding: 10px 22px;
  border-radius: 8px;
  border: none;
  background: linear-gradient(135deg, #0d6efd, #3b82f6);
  color: white;
  font-size: 15px;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
}
.company-search button:hover {
  transform: translateY(-2px);
  background: linear-gradient(135deg, #0b5ed7, #2563eb);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}
.company-table-main {
  margin-top: 30px;
}
/* Table container */
.company-table {
  background-color: #383838 !important;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.company-table thead th {
  background-color: #383838 !important;
  color: #cfcfcf;
  border-bottom: 1px solid #444;
  padding: 15px;
}

.company-table tbody td {
  background-color: #383838 !important;
  color: #e5e5e5;
  border-bottom: 1px solid #444;
  padding: 15px;
}

.company-table tbody tr:hover td {
  background-color: #444 !important;
}

/* Row hover */
.company-table tbody tr:hover {
  background: #444444;
  transition: 0.3s ease;
}

/* Logo */
.company-logo {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  object-fit: cover;
}

/* Action icon */
.action-icon {
  font-size: 20px;
  cursor: pointer;
  color: #cfcfcf;
  text-align: center;
  transition: 0.2s;
}

.action-icon:hover {
  color: #ffffff;
  transform: scale(1.2);
}
.custom-btn button {
  width: 80px !important;
}
.create-company-info {
  background: #383838;
  padding: 40px;
  border-radius: 10px;
  width: 100%;
  margin: auto;
  max-width: 950px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.4);
  color: #fff;
}
.create-heading h5 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

.create-heading p {
  font-size: 14px;
  color: #cfcfcf;
  margin-bottom: 25px;
}
.input-field label {
  color: #d1d1d1;
  font-weight: 500;
}
.input-field .form-control {
  background: #404040;
  border: 1px solid #444;
  color: #fff;
  padding: 10px 12px;
  border-radius: 6px;
}
.input-field .form-control:focus {
  background: #2d2d2d;
  color: #fff;
  border-color: #4da3ff;
  box-shadow: 0 0 0 0.15rem rgba(77, 163, 255, 0.3);
}
/* button container */
.create-button {
  margin-top: 25px;
}

/* cancel button */
.cancel-btn button {
  padding: 8px 20px;
  font-size: 14px;
  color: white;
  font-weight: bold;
}

.continue-btn button {
  padding: 8px 20px;
  font-size: 14px;
  color: white;
  font-weight: bold;
}

.btn-outline-warning:hover {
  background: #ffc107;
  color: #000;
}

.btn-outline-success:hover {
  background: #198754;
  color: #fff;
}
.company-setup-info {
  background: #383838;
  padding: 40px;
  border-radius: 10px;
  width: 100%;
  margin: auto;
  max-width: 950px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.4);
  color: #fff;
  margin-top: 50px;
}
.company-setup-heading h2 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}
.company-setup-btn button {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}
.company-form label {
  color: #d1d1d1;
  font-weight: 500;
}
.company-form .form-control {
  background: #404040;
  border: 1px solid #444;
  color: #fff;
  border-radius: 6px;
  padding: 10px 12px;
}

/* input focus */
.company-form .form-control:focus {
  background: #2d2d2d;
  border-color: #4da3ff;
  color: #fff;
  box-shadow: 0 0 0 0.15rem rgba(77, 163, 255, 0.3);
}

/* textarea */
.company-form textarea {
  resize: none;
}

/* update button */
.company-form button {
  margin-top: 10px;
  padding: 10px;
  font-size: 15px;
  letter-spacing: 0.5px;
}

/* hover effect */
.company-form button:hover {
  /* background: #198754; */
  color: #fff;
}
.company-top {
  margin-top: 40px;
}

/* post jobs css */
.adminjobs-main {
  background: #383838;
  padding: 40px;
  border-radius: 10px;
  width: 100%;
  margin: auto;
  max-width: 950px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.4);
  color: #fff;
  margin-top: 50px;
}
.company-setup-heading h2 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}
.company-setup-btn button {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}
.company-form select {
  background: #404040;
  border: 1px solid #444;
  color: #d6d1d1;
  border-radius: 6px;
  padding: 11px 12px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  margin-top: 16px;
}
.company-form select {
  background-image: url("data:image/svg+xml;utf8,<svg fill='%23ffffff' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 30px;
}
.company-form select:focus {
  background: #2d2d2d;
  border-color: #4da3ff;
  color: #d6d1d1;
  box-shadow: 0 0 0 0.15rem rgba(77, 163, 255, 0.3);
  outline: none;
}
.company-form select option {
  background: #2d2d2d !important;
  color: #c9c3c3 !important;
  padding: 8px;
}

/* company home pagess admin css end */

/* card card new css */
.latestjob-card {
  background: linear-gradient(145deg, #3a3a3a, #242424);
  border-radius: 16px;
  width: 100%;
  padding: 20px 12px;
  border: 1px solid #198754;

  color: #fff;

  overflow: hidden;
  transform-style: preserve-3d;
  transition: all 0.4s ease;
  box-shadow:
    10px 10px 25px rgba(0, 0, 0, 0.6),
    -5px -5px 15px rgba(255, 255, 255, 0.05);
}

/* Hover 3D lift */
.latestjob-card:hover {
  border: 1px solid #0d6efd;
  transform: translateY(-10px) rotateX(5deg) rotateY(-5deg) scale(1.02);
  box-shadow:
    20px 20px 40px rgba(0, 0, 0, 0.8),
    -10px -10px 20px rgba(255, 255, 255, 0.05);
}
.latestjob-card h6 {
  font-size: 14px;
}
.logo-box {
  border: 1px solid #0d6efd;
  padding: 10px;
  border-radius: 12px;
}
.logo-box img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.latestjob-card small,
.latestjob-card p {
  color: #b0b0b0;
}

.latestjob-card .badge {
  background: rgba(255, 255, 255, 0.08);
  color: #ddd;
  border-radius: 8px;
  padding: 6px 10px;
  font-size: 12px;
}

.salary {
  color: #4e73ff;
  font-weight: 700;
}
