@media (max-width: 575.98px) {
  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0px !important;
  }
  .navbar-toggler {
    border: 2px solid rgba(223, 223, 223, 0.1) !important;
  }
  .content-left {
    padding: 30px 20px !important;
  }
  .content-left h1 {
    font-size: 34px;
    margin-top: 15px;
  }
  .search-box-one {
    padding: 10px 20px;
    width: 40%;
  }
  .avtar-content {
    left: 74%;
  }
  .latestjob-card h5 {
    padding: 12px 0px !important;
  }
  .work-info {
    padding-bottom: 0px !important;
    margin-top: 0px !important;
  }
  .subscriber-bg h2 {
    font-size: 30px !important;
    text-align: center;
  }
  .containerInfo {
    width: 80%;
    margin: auto;
  }
  /* new */
  .profile-info {
    border: 1px double #999595;
    width: 100%;
    margin: auto;
    margin-top: auto;
    margin-top: 35px;
    padding: 14px;
  }
  .application-table {
    width: 100%;
  }
}

/* 576px to 768px */
@media (min-width: 576px) and (max-width: 767.98px) {
  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0px !important;
  }
  .navbar-toggler {
    border: 2px solid rgba(223, 223, 223, 0.1) !important;
  }
  .content-left {
    padding: 30px 20px !important;
  }
  .content-left h1 {
    font-size: 34px;
    margin-top: 15px;
  }
  .search-box-one {
    padding: 10px 20px;
    width: 40%;
  }
  .avtar-content {
    left: 74%;
  }
  .latestjob-card h5 {
    padding: 12px 0px !important;
  }
  .work-info {
    padding-bottom: 0px !important;
    margin-top: 0px !important;
  }
  .subscriber-bg h2 {
    font-size: 30px !important;
    text-align: center;
  }
  .containerInfo {
    width: 80%;
    margin: auto;
  }
  .profile-info {
    border: 1px double #999595;
    width: 100%;
    margin: auto;
    margin-top: auto;
    margin-top: 35px;
    padding: 14px;
  }
  .application-table {
    width: 100%;
  }
}

/* 768px 50 991px*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0px !important;
  }
  .navbar-toggler {
    border: 2px solid rgba(223, 223, 223, 0.1) !important;
  }
  .content-left {
    padding: 30px 0px !important;
  }
  .content-left h1 {
    font-size: 45px;
  }
  .search-box {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .search-box-one {
    width: 45%;
  }

  .forminfo {
    width: 100%;
  }

  .search-btn {
    width: 44%;
    margin: 12px 33px;
  }

  .search-box > div:last-child {
    width: 100%;
  }
  .subscriber-bg h2 {
    font-size: 25px !important;
  }
  .application-table {
    width: 100%;
  }
}

/* 992px to 1192 */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .content-left {
    padding: 30px 0px !important;
  }
  .content-left h1 {
    font-size: 45px;
  }
  .search-box-one {
    padding: 10px 20px;
    width: 45%;
  }
  .avtar-content {
    left: 62%;
  }
  .subscriber-bg h2 {
    font-size: 25px !important;
  }
  .application-table {
    width: 100%;
  }
}
