/* 992 */
@media (min-width: 992px) {
  .dreamjob-main {
    margin-left: 50px;
    margin-top: 50px;
  }

  .navbar img {
    width: 100px;
    margin-left: 32px;
  }
  .search-box {
    width: 100%;
    gap: 20px;
  }
  .search-box-one {
    width: 40%;
  }
  .avtar-content {
    margin-left: -15%;
    padding: 20px;
  }
  .search-btn {
    border-radius: 10px;
    width: 60px;
    height: 60px;
  }
  .company-info h2 {
    margin-top: 40px;
  }
  .swiper-pagination {
    margin-top: 20px;
    position: relative !important;
  }
  .containerInfo {
    width: 50%;
  }
}

/* 768px */
@media (min-width: 768px) {
  .navbar {
    background: navy;
  }
  button.navbar-toggler {
    background: white;
    color: black;
  }
  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none !important;
  }
  .dreamjob-main {
    width: 100%;
    padding: 10px 0px;
    margin-top: 20px;
  }
  .content-left h1 {
    font-size: 40px;
  }
  .content-right img {
    width: 100%;
  }
  .search-box {
    width: 100%;
    gap: 10px;
  }
  .search-box-one {
    width: 45%;
  }
  .search-box .forminfo {
    width: 125px;
    margin-left: -3px;
  }
  .search-btn {
    width: 50px;
    height: 50px;
  }
  .content-card {
    margin-top: -50px;
  }
  .content-card img {
    width: 40px;
  }
  .avtar-content {
    margin-left: -22%;
  }
  .swiper-pagination {
    margin-top: 30px;
    position: relative !important;
  }
  .work-content-info {
    width: 170px;
    margin-top: 45px;
  }
  .footer-content img {
    width: 100px;
  }
  .social-media a {
    padding: 4px 7px;
    font-size: 15px;
  }
}

/* for mobile device maxx-width:767px */
@media (max-width: 767px) {
  .navbar {
    background: navy;
  }
  button.navbar-toggler {
    background: white;
    color: black;
  }
  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none !important;
  }
  .dreamjob-main {
    margin-top: 15px;
  }
  .dreamjob-main h1 {
    font-size: 38px;
  }
  .search-box-one .forminfo {
    margin-left: -8px;
  }
  .search-box-one label {
    margin-left: -5px;
  }
  .swiper-pagination {
    margin-top: 30px;
    position: relative !important;
  }
  .subscriber-info h2 {
    font-size: 28px !important;
  }
  .footer-content {
    margin-left: 5%;
  }
  .footer-content p {
    text-align: center;
  }
  .footer-content img {
    margin-left: 26%;
  }
  .social-media {
    margin-left: 28%;
  }
}
